* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family:'Lato', sans-serif;
    background-image: url(../image/pexels-peter-olexa-3875821.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {

    width: 940px;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgb(0, 0, 0, 0.2);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 10px;
    display: flex;
}

.leftSide, .rightSide {

    width: 50%;
}

.leftSide img {

    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.rightSide h1 {

    color: rgb(62, 144, 144);
    font-size: 32px;
}

.rightSide h2 {

    color: rgb(34, 40, 40);
    margin: 20px auto 10px;
    font-size: 25px;

}

.rightSide ul {

    color:rgb(34, 40, 40);
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
    list-style-type: circle;
    list-style-position: outside;
}

.rightSide ul li {

    margin-top: 5px;
}
.rightSide a {

    width: 100%;
    margin-top: 25px;

}

