* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family:'Lato', sans-serif;
    background-image: url(../image/pexels-peter-olexa-3875821.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
   
}




nav {
    
    width: 100%; 
}

.text-center {

    text-align: center;
    
}


footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    background-color: #fff;
    text-align: center;
    
}

.container {

    width: 940px;
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(201, 52, 52, 0.2);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 10px;
    display: flex;
    justify-content:center ;  
        
}

.left-side, .right-side {

    width: 50%;
}

.left-side img {

    height: 350px;
    width: 330px;
    border-radius: 10px;
}

.right-side h1 {

    color: #243b55;
    font-size: 32px;

}

.right-side h2 {

    color: #141e30;
    margin: 20px auto 10px;
    font-size: 25px;

}

.rightSide ul {

    color:rgb(34, 40, 40);
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
    list-style-type: circle;
    list-style-position: outside;
}

.right-side ul li {

    margin-top: 5px;
}
.right-side a {

    width: 100%;
    margin-top: 25px;

}

/* question page css starts */

.box {

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    min-height: 350px;
    width: 640px;
    padding: 50px;
    align-self: center;

}

.title {

    border-bottom: 1px solid #464646;
    color: #141e30;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.header {

    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.score-box, .timer-box {

    border-radius: 50px;
    padding: 10px 15px;
    border: 1px solid #444;
    color: #444;

}


.question-box{

    background-color: #243b55;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    
}

.btn {

    background-color: #243b55 !important;
    color: #fff;
}

.option-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px;
}

.option-box span{

    background-color: #2b5876;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #444;
    padding: 10px 15px;
}

.navigation {

    display: flex;
    justify-content: space-between;
}

.result-box {

    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;

}

.result-box *:nth-child(odd){

    text-align: right;
}

.resultbox span{

    font-weight: 600;
}

.button-box{

    border-top: 1px solid #444;
    padding-top: 15px;
    text-align: center;

}

.option-box span.right {

    background-color: rgb(37, 183, 42);
    border-color: rgb(50, 103, 52);
    color: #fff;
}


.option-box span.wrong {

    background-color: red;
    border-color: rgb(118, 69, 69);
    color: #fff;
}
/* question page css ends */

/* Media Query starts */

@media screen and (max-width:990px)  {

    
   
    .left-side {
        display: none;
    }

    .container, .box{

        width: 525px;
        
    
    }
    .right-side{
        width: 100%;
        font-size: x-small;

        
    }

    .option-box {

        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:450px)  {

    
   
    .left-side {
        display: none;
    }

    .container, .box{

        width: 350px;
        font-size: x-small;
        margin: 25px;
        padding: 25px;
    
    }

    .title {

        font-size: medium;
    }

    .right-side h1 {

        font-size: 25px;
    }
     .right-side h2 {

        font-size: 20px;

     }

     ul li {
         font-size: 15px;
     }

     .btn {

        font-size: small !important;
     }

    .result-box {

        font-size: 18px;
    }

    h1 {

        font-size: medium;
    }
    .right-side{
        width: 100%;
        font-size: x-small;
  
    }

    .option-box {

        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:280px)  {

    
   
    .left-side {
        display: none;
    }

    .container, .box{

        width: 250px;
        font-size: 8px;
        margin: 25px;
        padding: 25px;
    
    }

    ul li {

        font-size: 12px;
    }

    .right-side h1 {

        font-size: 20px;
    }

    .right-side h2 {

        font-size: 18px;
    }

    .result-box {

        font-size: 15px;
    }

    .btn {

        font-size: small !important;
    }

    .title {

        font-size: 10px;
    }

    .right-side{
        width: 100%;
        font-size: 5px;
  
    }

    .option-box {

        grid-template-columns: 1fr;
    }
}


/* Media Query ends

tutotial link https://www.youtube.com/watch?v=MBaw_6cPmAw

*/


/* Modal starts here 

*/

.modal {

    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    border: 1px solid rgb(3, 1, 1);
    border-radius: 10px;
    z-index: 10;
    background-color: #fff;
    width: 500px;
    max-width: 80%;
    max-height: 60%;

}

.modal.active {

    transform: translate(-50%, -50%) scale(1);
    display: table-cell;  
}

.modal-header {

    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .titlee {

font-size: 1.25rem;
font-weight: bold;

}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {

    padding: 10px 15px;
}

#overlay {

    position: fixed;
    opacity: 0; 
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {

    opacity: 1;
    pointer-events: all;
}

/* Modal starts here 
 tutorial link https://www.youtube.com/watch?v=MBaw_6cPmAw
*/